name: Node.js CI/CD with Kubernetes

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    name: Build Docker Image and Push to Docker Hub
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'

    - name: Install dependencies
      run: |
        cd app
        npm install

    - name: Build Docker image
      run: |
        docker build -t my-node-app ./app
        docker tag my-node-app:latest nmaxdream/my-node-app:latest

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: nmaxdream
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push Docker image
      run: |
        docker push nmaxdream/my-node-app:latest